.checkoutzz{
border: none;
position:absolute;
top:65px;
padding: 10px;
right: 5px;

transition: background 1500ms ease-in;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(247, 238, 238, 0.3);
border-radius: 10px;
z-index: 1;
}
.checkoutzz:hover{
    background:black;
    color: white;  

}
.checkout-total h3{
   
}
.checkoutzz h2{
    margin-top:20px;
}
h2,h3,h4{
    font-size: 1.2em;
}

.total{
    display: flex;
    justify-content: space-between;
}
.trash h3{
    display: inline-block;
    margin-right: 10px;
    
}
.trash{
    cursor: pointer;
}
.checkout-details button{
    width: 80%;
    text-align: center;
    background-color: orangered;
    border: 1px solid;
    border-radius: 5px;
    border: none;
    margin-left: 25px;   
    cursor: pointer;
    color: white;
}
Button:focus{
    outline: none !important;
}
#checkoutIcon{
    text-align: center;
    background: orangered;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .checkoutzz{
        border: none;
        position: absolute;
        top:65px;
        right: 17px;
    }
   
    #checkoutIcon{
        background-color: orangered;
        border-radius: 10px;
        margin-top: 1rem;
        padding: 0.7em;
       
    }
    
  
    

}

