.checkoutzz{
border: none;
position: absolute;
top:65px;
padding: 10px;
transition: background 1500ms ease-in;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(247, 238, 238, 0.3);

border-radius: 15px;
}
.checkoutzz:hover{
    background:black;
    color: white;  

}
.checkoutzz h2{
    border-bottom: 1px solid;
}
/* .checkout-details{
    display: flex;
} */
.total{
    display: flex;
    justify-content: space-between;
}
.checkout-details button{
    width: 80%;
    text-align: center;
    padding: 8px;
    background-color: orangered;
    border: 1px solid;
    border-radius: 5px;
    border: none;
    margin-left: 25px;   
    cursor: pointer;
    color: white;
}


@media only screen and (max-width: 600px) {
    .checkoutzz{
        border: none;
        position: absolute;
        top:65px;
        padding: 10px;
        width: 85%;
        right: 17px;
        background: white;
        color: black;
    }

   

}

