#discountprice .discountedprice{
    background-color: rgb(253, 217, 204);
    color: rgb(255, 68, 0);
    border: none;
    width: 50px;
    border-radius: 0.3em;
    margin-bottom: 10px;
    margin-left: -20px;
  
}
input:focus {
    outline: none !important;
}

#discountprice .dp{
    text-decoration:line-through;
}
#discountprice .addbtn{
    display: flex; 
    margin-top: 10px;
}
#discountprice .addbtn .add{
    background-color: rgb(209, 194, 194);
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    
}
#discountprice .checkout{
    width: 50%; 
}
#discountprice .addbtn .add input{
    width: 40px;
    font-weight: bolder;
    background-color: rgb(209, 194, 194);
}
#discountprice input{
    border: none;
   font-weight: bold;
   font-size: 1.2em;
   display: inline;
   width: 120px;
}
@media only screen and (max-width: 600px){
    .discount{
        display: flex;
    }
    .addbtn{
        display: flex;
        flex-direction: column;
    }
    .add{
        display: flex;
    }
    #discountprice .checkout{
        width: 100%;
    }
    #discountprice h4{
        margin-left: -25px;
    }
  
 
}