html{
    font-size: 16px;
}
#container{
    cursor: pointer;
    display: grid;
    grid-template-columns:2fr 1fr;
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
}
hr{
    border: 0;
    height: 1px;
    width: 100%;
    margin-left: -12rem;
    margin-top: 0px;
    background-color: rgb(218, 207, 207);
}

#container .Grid{
    display: flex;
    
}
#container .logo{
    display: flex;
    margin-right: 2em;
}
#container .logo h2{
    margin:auto;
    padding: 0.625em;
    font-weight: bolder;
    font-size: 2rem;
}

#container .logo button{
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}
#container .tabs{
    display: flex; 
}

#container .tabs button{
    border:none;
    display: none;
    background: orangered;
    
}

#container .tabs ul{
    list-style: none;
    margin: 2rem 0;
    font-size: 0.78rem;
}
.tabs li:hover{
 border-bottom: 2px solid orangered;

}


#container .checkout{
    display: flex;
    margin: auto 0;
    z-index:99.99;
    
}
.profile-photo{
    display: inline-block;
   width: 30px;
   height: 30px;
   border-radius: 40px;
   border: 2px solid;
   margin-left: 2rem;
}
.profile-photo:hover{
    border:2px solid orangered;
}
.profile-photo img{
    width: 100%;
    height: auto;
}
.count{
   
    font-weight: bolder;
    width: 20px;
    height: 20px;
    margin-top: -35px;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 60px;
    text-align: center;
    color: orangered;
}

@media only screen and (max-width: 600px) { 
    #container{
        border: none;
    }
    #container .Grid{
        display: flex;
        flex-direction: column;
    }
    #container .tabs{
        display: flex;
        flex-direction: column;
        margin: 0;
    };
    
    #container .tabs li{
        margin:0px;
        
    }
     #container .tabs ul{
        margin: 20px 0px;
        transition: 0.5s ease;
      
    }
    
    #container .checkout{
        display: flex;
        position: absolute;
        top:20px;
        right: 20px;
     
    }
    #container .logo button{
        display:block;
        padding-left: 1em;
       
    }
  
    #container .logo h2, hr{
        visibility:hidden;
    }
    
   
} 