#container{
    cursor: pointer;
    display: grid;
    grid-template-columns:2fr 1fr;
   border-bottom: 1px solid grey;
}
 
#container .Grid{
    display: flex;
    justify-content: space-between;
}
#container .logo{
    display: flex;
    margin-right: 2em;
}
#container .logo h1{
    color:black;  
}

#container .logo button{
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}
#container .tabs{
    display: flex;
    
   
}

#container .tabs button{
    border:none;
    display: none;
    background: orangered;
    
}

#container .tabs ul{
    list-style: none;
    margin: 2rem;
  
}


#container .checkout{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}


@media only screen and (max-width: 600px) { 
    #container{
        border: none;
    }
    #container .Grid{
        display: flex;
        flex-direction: column;
    }
    #container .tabs{
        display: flex;
        flex-direction: column;
    };
    
    #container .tabs ul{
        margin-top: 0px;   
    }
     #container .tabs ul{
        margin: 20px 0px;
        transition: 0.5s ease;
      
    }
    
    #container .checkout{
        display: flex;
       margin:0px;
       position: relative;
       top: 30px;
    }
    #container .logo button{
        display:block;
       
    }
  
    #container .logo h1{
        visibility:hidden;
    }
   
} 